<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HN Today X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Hacker News WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Notification - Hacker News WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SwiftHN 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftHN Background.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftHN X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SwiftHN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftHNLatest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SwiftHNLiveViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftHNShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftHNToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SwiftHNTodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>latestPostWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F1AAFE91941F13000E68F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1AAFF31941F13000E68F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1EE915194105C30061B4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1EE91F194105C30061B4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F21AA621940A45700CF4E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F21AA761940A45700CF4E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F4C4091196BE2A100E84AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F50704519517E0D005B9914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F50705B19517FFB005B9914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F6CA16B1945BB5A003A26D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F7D73AE1951F560006DA9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F7E9F3F196BE66B008B2F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F7E9F54196BE6AB008B2F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FAF122B1AAF594C00FBD9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE5285D1947631600077662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
